/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*  COLOR PALETTES
    Red: #A31621
    Off White: #FCF7F8
    Grey: #CED3DC
    Aqua (Dark): #4E8098
    Light Blue: #90C2E7
*/

/* Fonts
    font-family: 'Montserrat', ;
    font-family: 'Oxygen', ;

*/

* {
    box-sizing: border-box;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #4E8098;
}

.create-link {
    color: white;
    background-color: #007bff;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    padding: 5px;
}

.create-link a {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #4E8098;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: white;
    padding: 0px 15px;
    margin-bottom:150px;
    height: 90vh;
    margin: 0px;
}
.footer {
  position: absolute;

  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* TODO: Continue tweaking CSS */
/* My CSS */
h1 {
    color: #4E8098;
    font-family: 'Arvo', serif;
}

section {
    width: 100%;
    padding: 1rem 15px 0px 15px;
    height: 100%;
}

article {
    background: white;
    display: flex;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.articleImage {
    flex-grow: 1;
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
}

.articleText {
    flex-grow: 4;
    display: inline-block;
}

section img {
    max-width: 200px;
    max-height: 200px;
}

tbody {
    display: block;
    overflow: auto;
    height: 40vh;
}

thead, tbody tr {
    display:table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em )
}

table {
    width: 400px;
}

footer p {
    color: white;
}


@media (max-width: 736px) {
    html {
        font-size: 16px;
    }


    section {
        width: 100%;
        overflow: scroll;
        height: 70vh;
    }

    article {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

    .leftContent {
        width: 100%;
        margin-left: -15px;
        padding-bottom: 15px;
    }

    .rightContent {
        margin-left: 10%;
    }

    section img {
        max-width: 50%;
    }

    table, thead, tbody, th, td, tr {
        display: block;

    }

    .table td, .table th {
        padding: 0px 0rem 0px 6rem;

        border-top: 1px solid #dee2e6;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }


    tr {
        border-top: 2px solid #4E8098;
        border-left: 2px solid #4E8098;
        border-right: 2px solid #4E8098;
    }

    td {
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 0px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
        }

        td:before{
            font-weight: 700;
        }

        td:nth-of-type(1):before { content: "ID: "; }
        td:nth-of-type(2):before {
            content: "Title: ";
        }
        td:nth-of-type(3):before {
            content: "Entry Date: ";
        }
        td:nth-of-type(4):before {
            content: "Book: ";
        }
        td:nth-of-type(5):before {
            content: "Chapter: ";
        }
        td:nth-of-type(6):before {
            content: "Verse: ";
        }
        td:nth-of-type(7):before {
            content: "Notes: ";
        }
        td:nth-of-type(8):before {
            content: "Options: ";
        }

    .container {
        overflow: scroll;
        height: auto;
    }

    .form-group {
        margin-bottom: 0px;
    }

    form {
        padding-bottom: 10px;
    }

}