@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Scripture Journal</h1>
   <section>
       <article>
           <div class="leftContent">
               <img src="~/images/quad.jpg" alt="LDS Quad"/>
           </div>
           <div class="rightContent">
               <h3>Keep All Your Entries In Once Place</h3>
               <p>Welcome to your site containing all of your scripture notes. Again</p>
               <a href="/scripturenotes">View Journal Entries</a>
           </div>
       </article>
   </section>
</div>
