@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Scripture Journal</h1>
    <section>
        <hr />
        <h2>Helping Keep Your Notes Organized</h2>
        <article>
            <div class="articleImage">
                <img src="~/images/quad.jpg" alt="LDS Quad" />
            </div>
            <div class="articleText">
                <h3>Keep All Your Entries In Once Place</h3>
                <p>Welcome to our site where you can store all of your scripture notes. This will be a great place to access all of your scripture notes and also collaborate with others.</p>
                <p>We want this to be a place where your scripture knowledge can grow.</p>

            </div>
        </article>
        <hr />
        <article>
            <div class="articleText">
                <h3>Easy To Use</h3>
                <p>We make it easy for you to store, search, and find all your gospel notes.  You'll have the ability to search by note title, book of scripture, and also sort your results.</p>
                <p>To get started, click on the link below</p>
                <a href="/scripturenotes">View Journal Entries</a>
            </div>
            <div class="articleImage">
                <img src="~/images/closeup-photo-of-journal-book-and-pencils-1018133.jpg" alt="LDS Quad" />
            </div>
        </article>
    </section>
</div>
