@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Scripture Journal</h1>
   <section>
       <article>
           <div>
               <h3>Some header here</h3>
               <p>And now some regular p text as a place holder</p>
               <a href="/scripturenotes">View Journal Entries</a>
           </div>
       </article>
   </section>
</div>
